<!-- <h1>Registrujte se</h1>
<div class="container">
    <div>
        Korisničko ime: <input type="text" name="username" [(ngModel)]="username" placeholder="Unesite Vaše korisničko ime">
    </div>
    <div>Lozinka: <input type="password" name="password" [(ngModel)]="password" placeholder="Unesite Vašu lozinku"></div>
    <div>
        Firstname: <input type="text" name="firstname" [(ngModel)]="firstname" placeholder="Unesite Vaše ime">
    </div>
    <div>Lastname: <input type="text" name="lastname" [(ngModel)]="lastname" placeholder="Unesite Vaše prezime"></div>
    <div>
        Email: <input type="text" name="email" [(ngModel)]="email" placeholder="Unesite Vas email">
    </div>
    <button (click)=saveUser() class="btn btn-success">Sacuvaj</button>
</div> -->

<body>
    <div class="login">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <form class="box">
                            <h1>Registrujte se</h1>
                            <p class="text-muted">Molimo unesite Vaše podatke:</p>
                            <input type="text" name="username" placeholder="Korisničko ime" [(ngModel)]="username">
                            <input type="password" name="password" placeholder="Lozinka" [(ngModel)]="password">
                            <input type="text" name="firstname" placeholder="Ime" [(ngModel)]="firstname">
                            <input type="text" name="lastname" placeholder="Prezime" [(ngModel)]="lastname">
                            <input type="text" name="email" placeholder="E-pošta" [(ngModel)]="email">
                            <button (click)=saveUser() class="btn btn-dark">Registrujte se</button>

                        </form>
                    </div>

                    <!-- <ul class="social-network social-circle">
                            <li><a href="#" class="icoFacebook" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#" class="icoTwitter" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#" class="icoGoogle" title="Google +"><i class="fab fa-google-plus"></i></a></li>
                        </ul> -->
                </div>

            </div>
        </div>
    </div>
</body>