<div class="container">
    <div class="card-header card1" id="headingOne">
        <h1>Fakultet: {{faculty.shortenedName}}</h1>
    </div>

    <form>
        <!-- <div class="card-header" id="headingOne"> -->
        <div class="flex-container">
            <div style="flex: 50%;" class="card-header">
                <div class="col-sm-10">
                    <label for="name" class="col-form-label"><b>Naziv fakulteta:</b> {{faculty.name}}</label>
                    <!-- </div> -->
                    <!-- <div class="col-sm-10"> -->
                    <!-- <input type="text" readonly class="form-control-plaintext" id="name" value={{faculty.name}}> -->
                </div>
                <div class="col-sm-10">
                    <label for="address" class="col-form-label"><b>Adresa:</b> {{faculty.address}}</label>
                    <!-- <div class="col-sm-10"> -->
                    <!-- <input type="text" readonly class="form-control-plaintext" id="address" value={{faculty.address}}> -->
                    <!-- </div> -->
                </div>
                <div class="col-sm-10">
                    <label for="contact" class="col-form-label"><b>Kontakt telefon:</b> {{faculty.contact}}</label>
                    <!-- <div class="col-sm-10"> -->
                    <!-- <input type="text" readonly class="form-control-plaintext" id="contact" value={{faculty.contact}}> -->
                    <!-- </div> -->
                </div>
            </div>
            <div style="flex: 50%;" class="card-header">
                <!-- <div class="container"> -->
                <div class="col-sm-10">

                    <!-- <div> -->
                    <!-- <select class="custom-select" multiple> -->
                    <!-- <div class="col-sm-10"> -->
                    <a id="b" *ngFor="let university of universities">
                        <label for="university" *ngIf='faculty.universityId===university.idUniversity' class="col-form-label"><b>Univerzitet:</b> {{university.name}}</label>
                        <!-- <input type=text *ngIf='faculty.universityId===university.idUniversity' readonly class="form-control-plaintext" id="university-name" value={{university.name}}> -->
                    </a>
                </div>
                <!-- <div class="col-sm-10"></div> -->
                <!-- <label for="grouping" class="col-sm-10 col-form-label"><b>Grupacija:</b></label> -->
                <div class="col-sm-10">
                    <a id="b" *ngFor="let facultyGrouping of facultyGroupings">
                        <label for="grouping" *ngIf='faculty.facultyGroupingId===facultyGrouping.idGrouping' class="col-form-label"><b>Grupacija:</b> {{facultyGrouping.name}}</label>

                        <!-- <input type=text *ngIf='faculty.facultyGroupingId===facultyGrouping.idGrouping' readonly class="form-control-plaintext" id="facultygrouping-name" value={{facultyGrouping.name}}> -->
                    </a>
                </div>

                <div class="col-sm-10">
                    <a id="b" *ngFor="let city of cities">
                        <label for="city" *ngIf='faculty.postalCode===city.postalCode' class="col-form-label"><b>Grad:</b> {{city.name}}</label>
                        <!-- <input type=text *ngIf='faculty.postalCode===city.postalCode' readonly class="form-control-plaintext" id="city-name" value={{city.name}}> -->
                    </a>
                </div>
            </div>
        </div>
        <!-- </div> -->
        <a class="button button1" (click)=handleSubject() role="button">Pogledaj predmete</a>

        <div class="jumbotron">
            <h1 class="display-4">Studijski programi</h1>
            <!-- <a class="btn btn-primary btn-lg" href="#" role="button">Konfiguracija</a>
            <a class="btn btn-primary btn-lg" href="#" role="button">Konfiguracija</a> -->

            <!-- <div class="card">
                <div class="card-header">
 
                    <div class="card-body" *ngFor="let studyProgram of studyPrograms"
                        ([studyModules])="getModules(studyProgram.idStudyProgram)">
                        <h5 class="card-title">{{studyProgram.name}}</h5>
                        <div *ngFor="let studyModule of studyModules">
                            <a>{{studyModule.name}}</a>
                            <a class="btn btn-primary btn-lg" (click)=handleModule(studyModule.idStudyModule)
                                role="button">Kreiraj konfiguraciju</a>
                        </div>
                    </div>
                </div>
            </div> -->

            <div id="accordion">
                <div *ngFor="let studyProgram of studyPrograms">

                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <!-- <button class="btn btn-link" data-toggle="collapse" data-target="#collapsed" aria-expanded="true"
                                aria-controls="collapseOne"> -->
                            <h2>{{studyProgram.name}}</h2>
                            <a class="button button2" (click)=createProgramConfiguration(studyProgram.idStudyProgram) role="button">Kreiraj konfiguraciju za studijski program</a>
                            <a class="button button2" (click)=fillProgramConfiguration(studyProgram.idStudyProgram) role="button">Popuni konfiguraciju za studijski program</a>
                            <!-- </button> -->
                            <div *ngFor="let studyModule of studyModules">
                                <div class="module" *ngIf="isInProgram(studyProgram, studyModule) && studyModule.status==true">
                                    <h4>{{studyModule.shortenedName}}</h4>
                                    <b>Naziv modula:</b> {{studyModule.name}}<br>
                                    <b>Startna godina:</b> {{studyModule.startYear}}. godina studija <br>
                                    <div class="button-group">
                                        <a class="button button3" (click)=createConfiguration(studyModule.idStudyModule) role="button">Kreiraj konfiguraciju</a>
                                        <a class="button button3" (click)=fillInCongiguration(studyModule.idStudyModule) role="button">Popuni konfiguraciju</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- <table>
            <thead>
                <tr>
                    <th>
                        Study Program
                    </th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let studyModule of allStudyModules">
                    <ng-container *ngFor="let studyProgram of studyPrograms">
                        <ng-container *ngIf="studyModule.idStudyProgram===studyProgram.idStudyProgram">
                            <td>{{studyProgram.name}}</td>
                        </ng-container>
                    </ng-container>
                </tr>

            </tbody>
        </table> -->

        <!-- <h1 class="display-4 ">Studijski programi</h1>
        <br>
        <div class="container">
            <table class="table">
                <thead>
                    <tr>
                        <th>Studijski modul</th>
                        <th colspan="2">Konfiguracija</th>
                    </tr>
                </thead>
                <tbody>

                    <tr *ngFor="let studyProgram of studyPrograms">
                        <td>
                            <button (click)="toggleOn(studyProgram.idStudyProgram)" class="btn btn-success">Exp </button>{{studyProgram.name}}</td>
                        <td><button class="btn btn-success">Kreiraj</button></td>
                        <td><button class="btn btn-success">Popuni</button></td>
                    </tr>
                    <tr>
                        <ng-container *ngFor="let studyModule of allStudyModules">
                            <ng-container *ngIf="studyModule.toggle===1">
                                <tr>{{studyModule.name}}</tr>
                            </ng-container>
                        </ng-container>
                    </tr>
                </tbody>
            </table> -->
    </form>
</div>