.button {
    background-color: #A4C3B2;
    border: none;
    color: white;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: .3rem;
    background-color: #57C7A7;
}

.button-group {
    display: inline-flex;
    width: 100%
}

.button3 {
    width: 50%;
    display: block;
    margin-top: 10px;
}

a:not([href]):not([tabindex]) {
    color: white;
    text-decoration: none;
}

.button:hover {
    background-color: #236C57;
}

.button1 {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    margin-top: 12px;
    margin-bottom: 10px;
    padding: 12px 27px;
    background-color: #57C7A7;
    /* background-color: #00616a; */
}

.button2 {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    padding: 12px 27px;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

.container {
    color: #082e21;
}

.jumbotron {
    background-color: #C1D7CB;
    color: #082e21;
}

.card-header:first-child {
    border-radius: .3rem;
    background-color: #F3F7F5;
}

.card {
    margin-top: 25px;
    /* background-color: #ee476b; */
}

h4 {
    text-transform: uppercase;
}

.module {
    margin-top: 30px;
}

.card1 {
    margin-top: 20px;
    margin-bottom: 15px;
    background-color: white!important;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.flex-item-left {
    flex: 50%;
}

.flex-item-right {
    flex: 50%;
}


/* Responsive layout - makes a one column layout (100%) instead of a two-column layout (50%) */

@media (max-width: 100%) {
    .flex-item-right,
    .flex-item-left {
        flex: 100%;
    }
}

.flex-row-container {
    background: #aaa;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.flex-row-container>.flex-row-item {
    flex: 1 1 30%;
    /*grow | shrink | basis */
    height: 100px;
}

#b {
    color: black;
}