.button {
    background-color: #A4C3B2;
    border: none;
    color: white;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: .3rem;
}

.button1 {
    /* text-align: center; */
    justify-content: space-evenly;
    margin-top: 10px;
    padding: 12px 27px;
    margin-bottom: 70px;
    flex-grow: 1;
    background-color: #57C7A7;
}

.button2 {
    justify-content: space-evenly;
    /* margin-top: 10px;
    padding: 12px 27px;
    margin-bottom: 70px; */
    flex-grow: 1;
    background-color: #57C7A7;
}

.button3 {
    justify-content: space-evenly;
    flex-grow: 1;
    background-color: #ee476b;
    /* background-color: burlywood; */
}

.button:hover {
    background-color: #236C57;
}

.c1 {
    display: flex;
    /* margin-bottom: 100px; */
    padding-right: 0px;
    padding-left: 0px;
}

.card {
    /* background-color: #99F1FF; */
    background-color: #57C7A7;
    margin-top: 20px;
    margin-bottom: 15px;
    padding-top: 15px;
    /* background-color: #082e21; */
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

h3 {
    margin-top: 20px;
}

.card-header {
    background-color: #F3F7F5;
    margin-bottom: 15px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.flex-item-left {
    flex: 50%;
}

.flex-item-right {
    flex: 50%;
}


/* Responsive layout - makes a one column layout (100%) instead of a two-column layout (50%) */

@media (max-width: 800px) {
    .flex-item-right,
    .flex-item-left {
        flex: 100%;
    }
}

.ng-invalid:not(form) {
    border-left: 5px solid #ee476b;
}

.label1 {
    font-size: 10pt;
    margin-top: 2px;
    color: #ee476b;
}

.numberOfClasses {
    width: 100%;
}

.table {
    width: 500px;
}