<div class="container">

    <div>
        <a class="href-item" href="/faculty/{{subject.facultyId}}">&#8592; Nazad na fakultet</a>
        <a style=" color: #57C7A7;">
        </a><a class="href-item" href="/subject/getAll/{{subject.facultyId}}"> &#8592; Svi predmeti</a>
    </div>

    <div class="card" id="headingOne">
        <h1 *ngIf="subject.idSubject==-1">Kreiranje predmeta</h1>
        <h1 *ngIf="subject.idSubject!=-1">Izmena predmeta {{subject.name}}</h1>
    </div>
    <!-- <div class="alert alert-warning" *ngIf="subjectForm.submitted && subjectForm.invalid">Morate popuniti sva polja!</div> -->

    <!-- <h1>Predmet: {{subject.name}}</h1> -->
    <!-- <div class="alert alert-warning" *ngIf="todoForm.dirty && todoForm.invalid">Enter valid values</div> -->
    <!-- <div class="alert alert-warning" *ngIf="todoForm.dirty && targetDate.invalid">Enter valid targetDate</div> -->
    <!-- <div class="alert alert-warning" *ngIf="todoForm.dirty && description.invalid">Enter atleast 5 characters at description-->


    <form (ngSubmit)="!subjectForm.invalid && saveSubject()" #subjectForm="ngForm" novalidate>
        <div class="alert alert-warning" *ngIf="subjectForm.submitted && subjectForm.invalid">Morate popuniti sva polja!
        </div>

        <body class="flex-container">
            <!-- <form (ngSubmit)="!todoForm.invalid && saveTodo()" #todoForm="ngForm"></form> -->
            <div style="flex-grow: 1;" class="card-header">
                <fieldset class="form-group">
                    <label>Naziv:</label>
                    <input type="text" #name="ngModel" [(ngModel)]="subject.name" class="form-control" name="name" required="required">
                </fieldset>

                <fieldset class="form-group">
                    <label>Skraćeni naziv:</label>
                    <input type="text" #shortenedName="ngModel" [(ngModel)]="subject.shortenedName" class="form-control" name="shortenedName" required="required">
                </fieldset>

                <fieldset class="form-group 1">
                    <label>Tip predmeta:</label>
                    <select id="counts" name="type" class="form-control" [(ngModel)]="subject.idSubjectType" #type="ngModel">
                        <option class="form-control" *ngFor="let type of subjectTypes" value="{{type.id}}">
                            {{type.fullName}}
                        </option>

                    </select>

                    <!-- <input type="text" #type="ngModel" [(ngModel)]="subject.type" class="form-control" name="type" -->
                    <!-- required="required"> -->
                </fieldset>

                <fieldset class="form-group">
                    <label>Broj ESPB:</label>
                    <input type="number" min="1" max="25" #espb="ngModel" [(ngModel)]="subject.espb" class="form-control" name="espb" required="required">
                    <label class="label1" *ngIf="subjectForm.dirty && espb.invalid">Broj ESPB mora biti
                        u opsegu od 1 do 25</label>
                </fieldset>
            </div>



            <div class="card-header">
                <h3>Fond časova</h3>
                <label>Unesite fond časova za odgovarajuće oblike nastave:</label><br>
                <label class="label1" *ngIf="fundForm.dirty && fund.invalid">Broj časova mora biti
                    u opsegu od 1 do 10</label>


                <form (ngSubmit)="!fundForm.invalid && addFieldValue()" #fundForm="ngForm">
                    <table class="table table-striped table-bordered">

                        <thead>
                            <tr>
                                <th>Oblik nastave</th>
                                <th style="width: 25%;">Broj časova</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>
                                    <select #teachingType="ngModel" class="form-control" name="teachingType" [(ngModel)]="fund1.teachingFormId" id="counts" required="required">

                                        <option #op name="op" class="form-control" style="display:none"
                                            required="required">
                                        <option class="form-control" *ngFor="let form of teachingForms"
                                            value="{{form.idTeachingForm}}" required="required">
                                            {{form.name}}
                                        </option>

                                    </select>
                                </td>
                                <td style="width: 25%;">
                                    <input #fund="ngModel" class="form-control numberOfClasses" type="number" min="1" max="10" id="fundNumberOfClasses " [(ngModel)]="fund1.numberOfClasses " name="fundNumberOfClasses " required="required" />
                                </td>
                                <td>
                                    <button class="button button2" type="submit">Dodaj</button>
                                </td>
                            </tr>


                            <tr *ngFor="let fund of fundsOfClasses" id="{{position}} ">
                                <ng-container>
                                    <td>
                                        <input class="form-control " type="text " id="teachingFormName " name="type" value="{{fund.teachingFormName}}" disabled />

                                        <!-- <select id=" counts " name="type " class="form-control " [(ngModel)]="fund.teachingFormId ">
                                    <option class="form-control " *ngFor="let form of teachingForms "
                                        value="{{form.idTeachingForm}} " disabled>
                                        {{form.name}}
                                    </option>
                                </select> -->
                                    </td>
                                    <td style="width: 25%;">
                                        <input class="form-control numberOfClasses" type="number" id="fundNumberOfClasses " name="fundNumberOfClasses " placeholder="{{fund.numberOfClasses}} " disabled />
                                    </td>
                                    <td><a *ngIf="subject.idSubject==-1" class="button button3 " (click)="deleteFund(fund, false) " type="button ">Obriši</a>


                                        <a *ngIf="subject.idSubject!=-1" class="button button3 " (click)="deleteFund(fund, true) " type="button ">Obriši</a>
                                    </td>
                                </ng-container>
                            </tr>



                        </tbody>
                    </table>

                </form>



            </div>

            <div class="container c1 ">
                <!-- <button type="submit " (click)="saveSubject() " class="button button1 ">Sačuvaj predmet</button> -->
                <button type="submit" class="button button1 ">Sačuvaj predmet</button>
            </div>

        </body>
    </form>

</div>