<!--<h1>Prijavite se</h1>
<div class="container">
    <div class="alert alert-warning" *ngIf='invalidLogin'>{{errorMessageParameters}}</div>
    <div class="alert alert-warning" *ngIf='invalidVerification'>{{errorMessageValidation}}</div>

    <div>
        Korisničko ime: <input type="text" name="username" [(ngModel)]="username" placeholder="Unesite Vaše korisničko ime">
    </div>
    <div>Lozinka: <input type="password" name="password" [(ngModel)]="password" placeholder="Unesite Vašu lozinku"></div>

    <div>
        <button (click)=handleJWTAuthLogin() class="btn btn-success">Prijavite se</button>
    </div>
    <button (click)=handleRegister() class="btn btn-success">Registruj se</button>
    <button (click)=handleBasicAuthLogin() class="btn btn-success">Login</button> 

</div>-->

<body *ngIf='!authService.isUserLoggedIn()'>
    <div class="login">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <form class="box">
                            <h1>Prijavite se</h1>
                            <p class="text-muted"> Molimo unesite Vaše korisničko ime i lozinku:</p>
                            <input type="text" name="username" placeholder="Korisničko ime" [(ngModel)]="username">
                            <input type="password" name="password" placeholder="Lozinka" [(ngModel)]="password">
                            <!-- <div><a class="forgot text-muted" href="#">Zaboravili ste lozinku?</a></div> -->

                            <div><button (click)=handleJWTAuthLogin() class="btn btn-dark">Prijavite se</button>
                            </div>

                            <br>
                            <p class="text-muted"> Nemate nalog?
                                <a href="/register">Registrujte se</a></p>

                            <br>
                            <div class="alert alert-warning" *ngIf='invalidLogin'>{{errorMessage}}</div>
                            <!-- <div class="alert alert-warning" *ngIf='invalidVerification'>{{errorMessageValidation}}</div> -->
                            <div class="col-md-12">
                                <!-- <ul class="social-network social-circle">
                            <li><a href="#" class="icoFacebook" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#" class="icoTwitter" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#" class="icoGoogle" title="Google +"><i class="fab fa-google-plus"></i></a></li>
                        </ul> -->
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>