.button {
    background-color: #A4C3B2;
    border: none;
    color: white;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: .3rem;
}

.button1 {
    /* text-align: center; */
    justify-content: space-evenly;
    margin-top: 10px;
    padding: 12px 27px;
    margin-bottom: 70px;
    flex-grow: 1;
    background-color: #57C7A7;
}

.button2 {
    justify-content: space-evenly;
    /* margin-top: 10px;
    padding: 12px 27px;
    margin-bottom: 70px; */
    flex-grow: 1;
    background-color: #57C7A7;
}

.button3 {
    justify-content: space-evenly;
    flex-grow: 1;
    background-color: #ee476b;
    /* background-color: burlywood; */
}

.button:hover {
    background-color: #236C57;
}

.button3:hover {
    background-color: #AA0E30;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

.c1 {
    display: flex;
    margin-bottom: 100px;
    padding-left: 0%;
    padding-right: 0%;
}

td {
    text-align: center;
    vertical-align: middle;
}

.card {
    margin-top: 25px;
    background-color: #57C7A7;
    margin-top: 20px;
    margin-bottom: 15px;
    padding-top: 15px;
    /* background-color: #082e21; */
}

.main {
    width: 100%;
    margin: 50px auto;
}


/* Bootstrap 4 text input with search icon */

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}