<div class="container">
    <div>
        <a class="href-item" href="/faculty/{{faculty.id}}">&#8592; {{faculty.name}}</a>
    </div>
    <div class="card" id="headingOne">
        <h1>Predmeti fakulteta - {{faculty.name}}</h1>
    </div>
    <!-- <div class="alert alert-success" *ngIf='message'>{{message}}</div> -->



    <!-- pipe -->
    <div class="container">
        <!-- Actual search box -->
        <div class="main">
            <!-- Actual search box -->
            <div class="form-group has-search">
                <span class="fa fa-search form-control-feedback"></span>
                <input type="search" id="form1" class="form-control" placeholder="Pretražite predmete po nazivu" #myInput [(ngModel)]="searchValue">
            </div>
        </div>

        <!-- <div class="container"> -->
        <table class="table">
            <!-- <caption>Predmeti:</caption> -->
            <thead>
                <tr id="head">
                    <th style="text-align: left;">NAZIV</th>
                    <th>SKRAĆENI NAZIV</th>
                    <th>TIP</th>
                    <th>ESPB</th>
                    <th>FOND ČASOVA</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let subject of subjects | searchFilterSubject:searchValue">
                    <td style="text-align: left;"><b>{{subject.name}}</b></td>
                    <td>{{subject.shortenedName}}</td>
                    <td>{{getShortNameOfType(subject.idSubjectType)}}{{sn | uppercase}}</td>
                    <td>{{subject.espb}}</td>
                    <td>
                        {{addFund(subject.idSubject)}}{{fundString}}
                        <!-- <button (click)="addFund(subject.idSubject)" class="btn btn-success">FOND</button> -->
                    </td>
                    <td><a class="button button2" (click)="updateSubject(subject.idSubject)" type="button">Izmeni</a>
                    </td>
                    <!-- <td><a class="button button3" (click)="deleteSubject(subject.idSubject)" type="button">Obriši</a></td> -->
                    <td><a class="button button3" mwlConfirmationPopover [popoverTitle]="popoverTitle" [popoverMessage]="popoverMessage" placement="left" (confirm)="deleteSubject(subject.idSubject)" confirmText="Potvrdi" cancelText="Poništi" (cancel)="cancelClicked=true"
                            type="button">Obriši</a></td>
                </tr>
                <!-- } -->
            </tbody>
        </table>

        <!-- <div class="row"> -->
        <!-- </div> -->
        <!-- </div> -->
        <div class="container c1">
            <a class="button button1" role="button" (click)="addSubject()" type="button">Dodaj novi predmet</a>
        </div>
        <!-- <div *ngFor="let subject of subjects">
    {{subject.name}}
</div> -->

    </div>