<div class="container">
    <h2>Fond časova za predmet - {{subject.name}}</h2>

    <form (ngSubmit)="!subjectForm.invalid && addFundsFinally()" #subjectForm="ngForm">
        <fieldset class="form-group" *ngFor="let form of teachingForms">
            {{addNewFundToList(form.idTeachingForm)}}
            <label>Nedeljni fond za {{form.name}}:</label>
            <input value={{form.idTeachingForm}} type="text" class="form-control" [(ngModel)]="fundsOfClasses[(form.idTeachingForm-1)].numberOfClasses" name={{form.name}} required="required">
        </fieldset>
        <button type="submit" class="btn btn-success">Sačuvaj fond časova</button>
    </form>
</div>