.dropdown-menu li {
    /* justify-content: space-between; */
    /* padding: 40px; */
    position: relative;
    padding: 0px;
}

.dropdown-menu {
    display: inline-flex;
    /* align-items: center; */
    /* display: inline-block; */
    /* justify-content: space-between; */
    /* margin-left: 90px; */
    border: none;
    padding: 0px;
}

li {
    text-align: center;
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
    font-size: 20px;
}

ul {
    display: flex;
    justify-content: space-between;
    /* background-color: #e7f1fa; */
}

body {
    width: 100%;
    /* align-items: center; */
    background-color: #F2F8F8;
}

.submenu {
    display: none;
    padding: 0px;
}

.submenu li {
    padding: 0px;
    margin-top: 0;
}

.submenu2 li {
    padding: 0px;
}

.submenu2 {
    display: none;
    padding: 0px;
}

.dropdown-menu li:hover>.submenu {
    display: block;
    width: 300px
}

.submenu li:hover>.submenu2 {
    display: block;
    width: 300px
}

h1 {
    text-align: center;
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
}

h2 {
    text-align: center;
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
}

img {
    height: 280px;
    width: 280px;
    border-radius: 50%;
    padding: 30px;
    margin-bottom: 0;
}


/* .container {
    width: 100%;
    display: flex;
} */

.button {
    background-color: #57C7A7;
    border: none;
    color: white;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    /* margin: 4px 2px; */
    cursor: pointer;
    border-radius: .3rem;
}

.button-group {
    display: inline-flex;
    width: 100%
}

.button3 {
    width: 50%;
    display: block;
    margin-top: 10px;
}

a:not([href]):not([tabindex]) {
    color: white;
    text-decoration: none;
}

.button:hover {
    background-color: #6B9080;
}

.button1 {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    /* margin-top: 10px;
    margin-bottom: 10px;*/
    /* padding: 12px 27px; */
}

.button2 {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    /* padding: 12px 27px; */
}

.card-header {
    background-color: white;
}

.card1 {
    margin-top: 0px;
    margin-bottom: 0px;
}

@media (max-width: 800px) {
    .flex-item-right,
    .flex-item-left {
        flex: 100%;
    }
}