<div class="container">

    <!-- <body> -->
    <div class="card-header card1" id="headingOne">
        <h1>Dobrodošli na Academic platformu</h1>
    </div>
    <!-- <h2>Универзитети</h2> -->
    <!-- <div class="container"> -->
    <div class="btn-group dropdown">
        <ul class="dropdown-menu">
            <div *ngFor="let university of universities">
                <!-- <li><button type="button" class="btn btn-dark btn-block" data-bs-toggle="dropdown" aria-expanded="false"> -->
                <!-- {{university.name}}</button> -->
                <li>{{university.name}}
                    <img src="assets/img/{{university.imgPath}}">
                    <ul class="btn-group dropright dropdown-menu submenu">
                        <div *ngFor="let facultyGrouping of facultyGroupings">
                            <li>
                                <a type="button" class="button button1" data-bs-toggle="dropright" aria-expanded="false">
                                        {{facultyGrouping.name}}</a>
                                <ul class="dropdown-menu submenu2">
                                    <div *ngFor="let faculty of faculties">
                                        <li><a type="button" (click)=handleFaculty(faculty) class="button button2" data-bs-toggle="dropright" aria-expanded="false" *ngIf="isInGroup(university, facultyGrouping, faculty)">{{faculty.name}}</a>
                                        </li>
                                    </div>
                                </ul>
                            </li>
                        </div>
                    </ul>
                </li>
            </div>
        </ul>
    </div>
    <!-- </div> -->
    <!-- </body> -->

</div>