.footer {
    /* position: rel; */
    position: fixed;
    bottom: 0px;
    margin-bottom: 0;
    width: 100%;
    height: 30px;
    /* Height of the footer */
    background-color: white;
}

.text-muted {
    color: #57C7A7!important;
}

.container {
    max-width: 1140px;
    text-align: center;
}