<body>
    <div class="login">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <form class="box" (ngSubmit)="!settingsForm.invalid && updateUser()" #settingsForm="ngForm" novalidate>
                            <div class="alert alert-warning" *ngIf="settingsForm.submitted && settingsForm.invalid">Morate popuniti sva polja!</div>
                            <h1>Izmena podataka</h1>
                            <p class="text-muted">Molimo zamenite postojeće podatke odgovarajućim:</p>
                            <!-- <label style="margin-bottom: 0px;" class="text-muted">Korisničko ime:</label>
                            <input style="margin-top: 0px;" type="text" name="username" [(ngModel)]="userShowed.username"> -->


                            <label style="margin-bottom: 0px;" class="text-muted">Ime:</label>
                            <input style="margin-top: 0px;" type="text" name="firstname" [(ngModel)]="json.firstname" required>

                            <label style="margin-bottom: 0px;" class="text-muted">Prezime:</label>
                            <input style="margin-top: 0px;" type="text" name="lastname" [(ngModel)]="json.lastname" required>

                            <label style="margin-bottom: 0px;" class="text-muted">E-pošta:</label>
                            <input style="margin-top: 0px;" type="text" name="email" [(ngModel)]="json.email" required>

                            <label style="margin-bottom: 0px;" class="text-muted">Lozinka:</label>
                            <input style="margin-top: 0px;" type="password" name="password" [(ngModel)]="json.password" placeholder="Unesite lozinku" required="required">

                            <button type="submit" class="btn btn-dark">Sačuvaj izmene</button>

                        </form>
                    </div>

                </div>

            </div>
        </div>
    </div>
</body>