<link href="https://fonts.googleapis.com/css2?family=PT+Serif&display=swap" rel="stylesheet">

<!-- <main flex layout="column"> -->
<app-menu></app-menu>

<!-- <app-login [username]="userIn"></app-login> -->
<router-outlet></router-outlet>

<app-footer></app-footer>
<!-- </main> -->