body {
    flex-basis: auto;
    font-family: 'PT Serif', serif;
}

.ng-invalid:not(form) {
    border-left: 5px solid #ee476b;
}


/* .container {
    max-width: 1000px; */


/* margin-left: auto;
    margin-right: auto; */


/* padding-left: 10px;
    padding-right: 10px;
} */

h2 {
    font-size: 26px;
    margin: 20px 0;
    text-align: center;
    /* small {
        font-size: 0.5em;
    } */
}

li {
    border-radius: 3px;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.table-header {
    background-color: #A4C3B2;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}

.table-row {
    background-color: #ffffff;
    /* box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1); */
}

.col-1 {
    flex-basis: 2%;
}

.col-2 {
    flex-basis: 3%;
}

.col-3 {
    flex-basis: 65%;
}

.col-4 {
    flex-basis: 2%;
}

.col-5 {
    flex-basis: 3%;
}

.col-6 {
    flex-basis: 25%;
}

.button {
    width: 100%;
    background-color: #A4C3B2;
    border: none;
    color: white;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: .3rem;
}

.button1 {
    /* text-align: center; */
    justify-content: space-evenly;
    margin-top: 10px;
    padding: 12px 27px;
    margin-bottom: 70px;
    flex-grow: 1;
    background-color: #57C7A7;
}

.button1:hover {
    background-color: #6B9080;
}


/* @media all and (max-width: 767px) {
    .table-header {
        display: none;
    }
    .table-row {}
    li {
        display: block;
    }
    .col {
        flex-basis: 100%;
    }
    .col {
        display: flex;
        padding: 10px 0;
        &:before {
            color: #6C7A89;
            padding-right: 10px;
            content: attr(data-label);
            flex-basis: 50%;
            text-align: right;
        }
    } */


/* } */

table {
    table-layout: fixed;
    width: 100%;
}

.main {
    width: 100%;
    margin: 50px auto;
}


/* Bootstrap 4 text input with search icon */

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.card {
    margin-top: 25px;
    background-color: #57C7A7;
    margin-top: 20px;
    margin-bottom: 15px;
    padding-top: 15px;
    /* background-color: #082e21; */
}