<!-- <div class="container">
    <h2><small>Popuni konfiguraciju</small></h2>
    <ul class="responsive-table">
        <li class="table-header">
            <div class="col col-1">RB</div>
            <div class="col col-2">Semestar</div>
            <div class="col col-3">Tip predmeta</div>
            <div class="col col-4">ESPB</div>
            <div class="col col-5">Obaveznost</div>
            <div class="col col-6">Predmet</div>
        </li>

        <li class="table-row" *ngFor="let conf of subjectConfigurationExpList">
            <div class="col col-1" data-label="position">{{conf.position}}</div>
            <div class="col col-2" data-label="semester">{{conf.semester}}.</div>
            <div class="col col-3" data-label="type">{{getFullNameOfType(conf.idSubjectType)}}{{fulln}}</div>
            <div class="col col-4" data-label="espb">{{conf.espb}}</div>
            <div class="col col-5" data-label="mandatory">{{conf.mandatory}}</div>
            <div class="col col-6" data-label="subject">
                <select id="counts" name="subject" class="form-control" [(ngModel)]="conf.idSubject">
                    <ng-container *ngFor="let subject of subjects">
                        <option class="form-control" name="idSubject" value="{{subject.idSubject}}"  
                         
                        *ngIf="subject.idSubjectType==conf.idSubjectType && subject.espb == conf.espb"
                       >{{subject.name}}
                        </option>
                    </ng-container>
                </select>
            </div>
        </li>
        <a class="button button1" role="button" (click)="generateSubjectConfigurations()" type="button">Sacuvaj konfiguraciju</a >

    </ul>


</div> -->

<div class="container">
    <a class="href-item" href="/faculty/{{studyModule.idFaculty}}">
        &#8592; Nazad na fakultet</a>
    <div class="card" id="headingOne">
        <h1>{{studyModule.name}} - {{studyModule.shortenedName | uppercase}}</h1>
    </div>
    <form (ngSubmit)="!fillForm.invalid && formTable()" #fillForm="ngForm">

        <div>
            <label *ngIf="dalje">Unesite semestar za konfiguraciju : </label>
            <input *ngIf="dalje" class="form-control" type="number" min="1" max="15" placeholder="Unesite broj semestara" name="numberOfSemester" [(ngModel)]="numberOfSemester" required="required" />
        </div>
        <!-- <button class="btn btn-success" type="button" (click)="formArray(numberOfSemester)">Dalje</button> -->
        <button *ngIf="dalje" class="button1 btn btn-success" type="submit">Popuni
            konfiguraciju</button>
    </form>
    <a *ngIf="tableView  && !dalje" style="color:#57C7A7 ;" href="fill_module_configuration/{{studyModule.idFaculty}}/{{studyModule.idStudyModule}}">
        &#8592; Unesite konfiguraciju za drugi semestar</a>
    <br><br>




    <!-- <div class="main">

        <div class="form-group has-search">
            <span class="fa fa-search form-control-feedback"></span>
            <input type="search" id="form1" class="form-control" placeholder="Pretražite po semestru" #myInput [(ngModel)]="searchValue">
        </div>
    </div> -->


    <table class="table" *ngIf="tableView  && !dalje">
        <thead>
            <tr id="head">
                <th style="width: 7%;">RB</th>
                <th style="width: 12%;">SEMESTAR</th>
                <th style="width: 30%;">TIP PREDMETA</th>
                <th style="width: 7%;">ESPB</th>
                <th>OBAVEZNOST</th>
                <th>PREDMET</th>
                <!-- <th>Fond časova</th> -->
            </tr>

        </thead>
        <tbody>
            <tr *ngFor="let conf of semesterConfigurationList | searchFilterConfiguration : searchValue">
                <!-- {{addSubjectConfigurationInList(conf)}} -->
                <td>
                    {{conf.position}}
                </td>
                <td>
                    {{conf.semester}}. semestar

                    <td>
                        {{getFullNameOfType(conf.idSubjectType)}}{{fulln}}
                        <!-- {{conf.idSubjectType}} -->

                    </td>
                    <td>
                        {{conf.espb}}

                    </td>
                    <td>
                        {{conf.mandatory}}

                    </td>
                    <td>
                        <!-- <button class="btn btn-success" type="button">Dodajte predmet na poziciju</button> -->
                        <!-- [(ngModel)]="subjectConfiguration.idSubject" -->

                        <!-- <div *ngIf="(conf.status == true || studyModule.status == false) && (conf.mandatory.startsWith('Obavezan'))">
                            <ng-select id="counts" name="subject" [items]="obavezniPredmeti(conf)" bindLabel="name" placeholder="Izaberite 1 predmet" [(ngModel)]="conf.subjects[0].idSubject">
                                <ng-option class="form-control" name="idSubject" value="{{subject.idSubject}}" *ngIf="subject.idSubjectType==conf.idSubjectType && subject.espb == conf.espb">
                                    {{subject.name}}
                                </ng-option>
                            </ng-select>
                        </div> -->

                        <!-- konfiguracija za studijski program u tabeli za modul OBAVEZAN-->
                        <div *ngIf="conf.status == false  && studyModule.status == true && (conf.mandatory.startsWith('Obavezan'))">
                            <ng-select [compareWith]="compareFn" [multiple]="true" [maxSelectedItems]="1" [(ngModel)]="conf.subjects" disabled>
                                <ng-container *ngFor="let subject of subjects">
                                    <ng-option *ngIf="subject.idSubjectType==conf.idSubjectType && subject.espb == conf.espb" class="form-control" name="idSubject" [value]="subject" disabled>
                                        {{subject.name}}
                                    </ng-option>
                                </ng-container>
                            </ng-select>
                        </div>


                        <!-- konfiguracija za studijski program u tabeli za modul IZBORNI-->
                        <div *ngIf="conf.status == false  && studyModule.status == true && (conf.mandatory.startsWith('Izborni'))">
                            <ng-select [compareWith]="compareFn" [multiple]="true" [maxSelectedItems]="2" [(ngModel)]="conf.subjects" disabled>
                                <ng-container *ngFor="let subject of subjects">
                                    <ng-option *ngIf="subject.idSubjectType==conf.idSubjectType && subject.espb == conf.espb" class="form-control" name="idSubject" [value]="subject" disabled>
                                        {{subject.name}}
                                    </ng-option>
                                </ng-container>
                            </ng-select>

                        </div>

                        <!-- konfiguracija za studijski program u tabeli za modul ALT-->
                        <div *ngIf="conf.status == false  && studyModule.status == true && (conf.mandatory.startsWith('Alternativni'))">
                            <ng-select [compareWith]="compareFn" [compareWith]="compareFn" [multiple]="true" [(ngModel)]="conf.subjects" disabled>
                                <ng-container *ngFor="let subject of subjects">
                                    <ng-option *ngIf="subject.idSubjectType==conf.idSubjectType && subject.espb == conf.espb" class="form-control" name="idSubject" [value]="subject" disabled>
                                        {{subject.name}}
                                    </ng-option>
                                </ng-container>
                            </ng-select>
                            <!-- Selected subjects IDs: {{conf.subjects}} -->

                        </div>

                        <!-- konfiguracija za modul ili je u pitanju studijski program OBAVEZAN-->
                        <!-- NOVI VEZANI ZA MODUL !!-->
                        <div *ngIf="(conf.status == true || studyModule.status == false) && (conf.mandatory.startsWith('Obavezan'))">
                            <ng-select [compareWith]="compareFn" placeholder="Odaberite predmet" appendTo="body" [multiple]="true" [maxSelectedItems]="1" [(ngModel)]="conf.subjects" name="idSubject">
                                <ng-container *ngFor="let subject of subjects">
                                    <ng-option *ngIf="subject.idSubjectType==conf.idSubjectType && subject.espb == conf.espb" class="form-control" name="idSubject" [value]="subject">
                                        {{subject.name}}</ng-option>
                                </ng-container>
                            </ng-select>
                            <!-- <ng-select  [items]="findItems(conf)" placeholder="Select item" appendTo="body" [multiple]="true" [maxSelectedItems]="1" [(ngModel)]="conf.subjects" name="idSubject" bindLabel="name" bindValue="idSubject"></ng-select> -->
                            <!-- <ng-select [items]="findItems(conf)" bindLabel="name" [multiple]="true" placeholder="Select subjects" [(ngModel)]="conf.subjects"> -->
                            <!-- <ng-option *ngFor="let selected of conf.subjects">
                                    {{selected.name}}
                                </ng-option> -->
                            <!-- </ng-select> -->

                        </div>



                        <div *ngIf="(conf.status == true || studyModule.status == false) && (conf.mandatory.startsWith('Izborni'))">
                            <ng-select [compareWith]="compareFn" bindLabel="name" placeholder="Odaberite predmete" appendTo="body" [multiple]="true" [maxSelectedItems]="2" [(ngModel)]="conf.subjects" [closeOnSelect]=false>
                                <ng-container *ngFor="let subject of subjects">
                                    <ng-option *ngIf="subject.idSubjectType==conf.idSubjectType && subject.espb == conf.espb" class="form-control" name="idSubject" [value]="subject">
                                        {{subject.name}}
                                    </ng-option>
                                </ng-container>
                            </ng-select>
                            <!-- <ng-select [compareWith]="compareFn" [items]="findItems(conf)" bindValue="idSubject" bindLabel="name" placeholder="Select item" appendTo="body" [multiple]="true" [(ngModel)]="conf.subjects"></ng-select> -->

                        </div>

                        <div *ngIf="(conf.status == true || studyModule.status == false) && (conf.mandatory.startsWith('Alternativni'))">
                            <ng-select [compareWith]="compareFn" [multiple]="true" [(ngModel)]="conf.subjects" [closeOnSelect]=false>
                                <ng-container *ngFor="let subject of subjects">
                                    <ng-option *ngIf="subject.idSubjectType==conf.idSubjectType && subject.espb == conf.espb" class="form-control" name="idSubject" [value]="subject">
                                        {{subject.name}}
                                    </ng-option>
                                </ng-container>
                            </ng-select>
                            <!-- <ng-select [items]="findItems(conf)" [multiple]="true" [(ngModel)]="conf.subjects" name="idSubject" [closeOnSelect]=false bindLabel="name" bindValue="id" placeholder="Odaberite predmete"></ng-select> -->

                        </div>

                    </td>

                    <!-- <td>
                        {{addFund(subjectConfiguration.idSubject)}} {{fundString}}
                    </td> -->
            </tr>

        </tbody>
    </table>
    <button *ngIf="tableView && !dalje" class="button button1" (click)="generateSubjectConfigurations()" type="button">Sačuvaj
        konfiguraciju</button>
</div>