.navbar-nav li:hover>.submenu {
    display: block;
    position: absolute;
}

.navbar-nav {
    display: inline-flex;
    padding: 0;
    flex-direction: row;
    height: 40px;
}

.bg-dark {
    background-color: white!important;
}

.nav-link {
    padding-right: .5rem !important;
    padding-left: .5rem !important;
}

.navbar-dark .navbar-nav .nav-link {
    color: #57C7A7;
}

.ml-auto .dropdown-menu {
    left: auto !important;
    right: 0px;
}

.submenu {
    padding: 0;
    align-self: inherit;
}

.dropdown-menu li {
    position: center;
}

.submenu {
    display: none;
}

.nav-item-rightnav {
    float: right;
    justify-content: end;
}


/* header {
    background-color: #57C7A7;
}

nav {
    background-color: #57C7A7;
} */