<div class="container">
    <a class="href-item" href="/faculty/{{studyModule.idFaculty}}">
        &#8592; Nazad na fakultet</a>

    <div class="card" id="headingOne">
        <h1>{{studyModule.name}} - {{studyModule.shortenedName | uppercase}}</h1>
    </div>
    <form (ngSubmit)="!createForm.invalid && formTable()" #createForm="ngForm">

        <div>
            <label *ngIf="dalje">Unesite semestar za konfiguraciju : </label>
            <input *ngIf="dalje" class="form-control" type="number" min="1" max="15" placeholder="Unesite broj semestara" name="numberOfSemester" [(ngModel)]="numberOfSemester" />
        </div>
        <!-- <button class="btn btn-success" type="button" (click)="formArray(numberOfSemester)">Dalje</button> -->
        <button *ngIf="dalje" class="button1 btn btn-success" type="submit">Kreiraj
        konfiguraciju</button>
    </form>
    <div>

        <!-- <ng-container *ngFor="let number of semesters"> -->
        <!-- <label>Unesite predmete za {{numberOfSemester}}. semestar : </label> -->
        <!-- <input class="form-control" type="text" placeholder="Unesite broj predmeta" name="numberOfRows" [(ngModel)]="numberOfRows" />  -->
        <!-- <button *ngIf="buttonView" class="button1 btn btn-success" type="button" (click)="formTable()">Konfiguracija za {{number}}. semestar</button> -->
        <!-- <label>Unesite broj semestara : </label> -->
        <a *ngIf="tableView  && !dalje" style="color:#57C7A7 ;" href="study_module_create_configuration/{{studyModule.idStudyModule}}">
            &#8592; Unesite konfiguraciju za drugi semestar</a>
        <br><br>



        <table class="table" id="{{numberOfSemester}}" *ngIf="tableView  && !dalje">

            <thead>
                <tr id="head">
                    <th style="width: 7%;">RB</th>
                    <th style="width: 12%;">SEMESTAR</th>
                    <th style="width: 30%;">TIP PREDMETA</th>
                    <th style="width: 7%;">ESPB</th>
                    <th>OBAVEZNOST</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let conf of semesterConfigurationList; let i=index;" id="{{conf.position}} ">
                    <ng-container>
                        <td>
                            <input [(ngModel)]="conf.position" class="form-control" type="text" disabled />
                        </td>
                        <td>
                            <input placeholder="Semestar" value="{{numberOfSemester}}. semestar" class="form-control" type="text" disabled />
                        </td>
                        <td>
                            <div *ngIf="conf.status == true || studyModule.status == false">
                                <select id="counts" name="type" class="form-control" [(ngModel)]="conf.idSubjectType">
                                    <option class="form-control" *ngFor="let type of subjectTypes" value="{{type.id}}">
                                        {{type.fullName}}
                                    </option>
                                </select>
                            </div>
                            <div *ngIf="conf.status == false && studyModule.status == true">
                                <input placeholder="SubjectType" value="{{conf.subjectTypeName}}" class="form-control" type="text" disabled />
                            </div>
                        </td>
                        <td>
                            <div *ngIf="conf.status == true || studyModule.status == false">
                                <input type=number min=1 max=20 [(ngModel)]="conf.espb" class="form-control" placeholder="Espb" />
                            </div>
                            <div *ngIf="conf.status == false  && studyModule.status == true">
                                <input [(ngModel)]="conf.espb" class="form-control" placeholder="Espb" type="text" disabled />
                            </div>
                        </td>
                        <td>
                            <div *ngIf="studyModule.status == false">
                                <select id="counts" class="form-control" [(ngModel)]="conf.mandatory">
                                    <option class="form-control " *ngFor="let man of mandatories">{{man}} na nivou
                                        studijskog programa</option>
                                </select>
                            </div>
                            <div *ngIf="conf.status == true && studyModule.status == true">
                                <select id="counts" class="form-control" [(ngModel)]="conf.mandatory">
                                    <option class="form-control " *ngFor="let man of mandatories">{{man}} na nivou
                                        modula</option>
                                </select>
                            </div>
                            <div *ngIf="conf.status == false  && studyModule.status == true">
                                <input placeholder="Mandatory" value="{{conf.mandatory}}" class="form-control" type="text" disabled />
                            </div>
                        </td>
                        <td>

                            <ng-template [ngIf]="conf.status == true">
                                <a class="button button3" mwlConfirmationPopover [popoverTitle]="popoverTitle" [popoverMessage]="popoverModuleMessage" placement="left" (confirm)="deleteFieldValue(i, conf.idSemesterConfiguration)" confirmText="Potvrdi" cancelText="Poništi" (cancel)="cancelClicked=true"
                                    type="button">Obriši</a>
                            </ng-template>
                            <ng-template [ngIf]="conf.status == false && studyModule.status==false">
                                <a class="button button3" mwlConfirmationPopover [popoverTitle]="popoverTitle" [popoverMessage]="popoverProgramMessage" placement="left" (confirm)="deleteFieldValue(i, conf.idSemesterConfiguration)" confirmText="Potvrdi" cancelText="Poništi" (cancel)="cancelClicked=true"
                                    type="button">Obriši</a>
                            </ng-template>
                            <!-- </div> -->
                            <div *ngIf="conf.status == false && studyModule.status == true">
                                <!-- <label style="font-size: small; text-align: center; vertical-align: middle;"><i>SP
                                        konfiguracija</i></label> -->
                                <a style="color:#57C7A7 ;" href="study_module_create_configuration/{{studyModuleSP.idStudyModule}}">SP
                                    konfiguracija</a>
                                <!-- <button class="button button2" type="button" (click)="goToSPConfig(conf.idStudyProgram)">Pogledaj</button> -->
                            </div>


                            <!-- <div *ngIf="conf.status == true || studyModule.status == false">
                                <button class="button button3" type="button" (click)="deleteFieldValue(i, conf.idSemesterConfiguration)">Obriši</button>
                            </div>
                            <div *ngIf="conf.status == false  && studyModule.status == true">
                                <label style="font-size: small; text-align: center; vertical-align: middle;"><i>SP konfiguracija</i></label> -->
                            <!-- <button class="button button2" type="button" (click)="goToSPConfig(conf.idStudyProgram)">Pogledaj</button> -->
                            <!-- </div> -->
                            <!-- <button *ngIf="dodaj" class="btn btn-success" type="button" (click)="addFieldValue(semesterConfiguration.position, numberOfSemester)">Dodaj</button> -->
                        </td>

                        <!-- <td> -->
                        <!-- <button class="btn btn-warning" type="button" (click)="deleteFieldValue(i)">Obrisi</button> -->
                        <!-- <button *ngIf="dodaj" class="btn btn-success" type="button" (click)="addFieldValue(semesterConfiguration.position, numberOfSemester)">Dodaj</button> -->
                        <!-- </td> -->
                    </ng-container>
                </tr>
                <tr *ngIf="showRow">

                    <td>
                        <input class="form-control " type="text " id="semesterConfigurationPosition " [(ngModel)]="semesterConfiguration.position " name="semesterConfigurationPosition " disabled />
                    </td>
                    <td>
                        <input class="form-control " type="text " id="semesterConfigurationSemester " [(ngModel)]="semesterConfiguration.semester " name="semesterConfigurationSemester " />
                    </td>
                    <td>

                        <select id="counts" name="type" class="form-control" [(ngModel)]="semesterConfiguration.idSubjectType">
                            <option class="form-control" *ngFor="let type of subjectTypes" value="{{type.id}}">
                                {{type.fullName}}
                            </option>
                        </select>


                    </td>
                    <td>
                        <input class="form-control " type="text " id="semesterConfigurationEspb " [(ngModel)]="semesterConfiguration.espb " name="semesterConfigurationEspb " />
                    </td>
                    <td>
                        <select id="counts " class="form-control " [(ngModel)]="semesterConfiguration.mandatory ">
                            <option class="form-control " *ngFor="let man of mandatories">{{man}}</option>
                            <!-- <option class="form-control ">IZBORNI</option> -->

                        </select>
                    </td>
                    <td>
                        <!-- <button *ngIf="semesterConfiguration.position==semesterConfigurationList.length" class="btn btn-warning" type="button" (click)="deleteFieldValue(semesterConfiguration.position)">Obrisi</button> -->
                        <!-- <button *ngIf="dodaj" class="btn btn-success" type="button" (click)="addFieldValue(semesterConfiguration.position, numberOfSemester)">Dodaj</button> -->
                    </td>

                </tr>

            </tbody>


        </table>
        <button *ngIf="tableView && !dalje" class="button1 btn btn-success" type="button" (click)="addFieldValue(numberOfSemester)">Dodaj poziciju</button>

        <!-- <button *ngIf="tableView && !dalje" class="button1 btn btn-success float-right" type="button" (click)="refresh()">Unesite drugi semestar</button> -->

        <!-- <button *ngIf="tableView  && !dalje && studyModule.status == false" class="button button1" type="button" (click)="saveConfiguration(numberOfSemester) ">Primeni konfiguraciju {{numberOfSemester}}.
            semestra na module studijskog programa {{studyModule.name}}</button> -->

        <a *ngIf="tableView && !dalje && studyModule.status==false" class="button button1" mwlConfirmationPopover [popoverTitle]="popoverTitleSave" [popoverMessage]="popoverProgramMessageSave" placement="top" (confirm)="saveConfiguration(numberOfSemester)" confirmText="Potvrdi"
            cancelText="Poništi" (cancel)="cancelClicked=true">Primeni konfiguraciju {{numberOfSemester}}.
            semestra na module studijskog programa {{studyModule.name}}​​​</a>

        <button *ngIf="tableView  && !dalje && studyModule.status == true" class="button button1" type="button" (click)="saveConfiguration(numberOfSemester) ">Sačuvaj konfiguraciju {{numberOfSemester}}.
            semestra modula {{studyModule.name}}</button>
        <!-- </ng-container> -->
    </div>
</div>