input[type=text],
select {
    /* width: 100%; */
    /* padding: 12px 20px; */
    margin-left: 5px;
    margin-left: 5px;
    display: inline-block;
    border: 1px solid #ccc;
    /* border-radius: 4px; */
    box-sizing: border-box;
}

select.form-control:not([size]):not([multiple]) {
    height: 0%;
}

label {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 25px;
}

.button {
    margin-bottom: 40px;
    margin-top: 10px;
    padding: 18px;
    width: 100%;
}

.button1 {
    margin-bottom: 40px;
    margin-top: 10px;
}

.card {
    margin-top: 25px;
    background-color: #57C7A7;
    margin-top: 20px;
    margin-bottom: 15px;
    padding-top: 15px;
    /* background-color: #082e21; */
}

.button {
    background-color: #A4C3B2;
    border: none;
    color: white;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: .3rem;
}

.button1 {
    /* text-align: center; */
    justify-content: space-evenly;
    margin-top: 10px;
    padding: 12px 27px;
    margin-bottom: 70px;
    flex-grow: 1;
    background-color: #57C7A7;
}

.button2 {
    justify-content: space-evenly;
    /* margin-top: 10px;
    padding: 12px 27px;
    margin-bottom: 70px; */
    flex-grow: 1;
    background-color: #57C7A7;
}

.button3 {
    justify-content: space-evenly;
    flex-grow: 1;
    background-color: #ee476b;
    /* background-color: burlywood; */
}

.button:hover {
    background-color: #236C57;
}

.button3:hover {
    background-color: #AA0E30;
}

td {
    text-align: center;
    vertical-align: middle;
}

.ng-invalid:not(form) {
    border-left: 5px solid #ee476b;
}